@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Sahitya&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
}

p, li {
    font-family: 'Sahitya', serif;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #ff7758;
    color: #ffffff;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.search {
    background-color: transparent;
    border: 2px solid #ffffff77;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #ffffffb6;
}


#main {
    display: flex;
    background-image: linear-gradient(to bottom right, #f78065, #ffc2a1);
}

#index {  
    height: 100%;
    margin: 80px 500px 0px 0px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content {
    background-color: #e6e7eb;
    position: fixed;
    width: 500px;
    top: 80px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    overflow-y: scroll;
}

.container {
    display: flex;
    justify-content: space-between;
}

#content img {
    width: 250px;
    border-radius: 4px;
}

#details {
    width: 180px;
    background-color: #dbdbde;
    border-radius: 4px;
    padding: 0px 20px;
}

#details h3 {
    margin: 5px 0px 0px;
}

#details p {
    margin: 0px 0px 5px;
} 

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: -3px;
}

.anime {
    width: 180px;
    height: 350px;
    margin: 1rem;
    background-color: #ff7758;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.anime img{
    width: 100%;
}

.anime-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    letter-spacing: 0.5px;
}

.anime-info h3 {
    margin-top: 10px;
}

.anime-info span {
    background-color: #cc5a41;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-family: 'Exo 2', sans-serif;
}

.anime-info span.green {
    color: lightgreen;
}

.anime-info span.orange {
    color: orange;
}

.anime-info span.red {
    color: red;
}

.chartBox {
    margin-top: 50px;
}