<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Anime App</title>
</head>
<body>  
    <header>
        <h1 class="head1">Anime App</h1>
        <form id="form">
            <input type="text" id="search" class="search" placeholder="Search">
        </form>
    </header>

    <main id="main">
        <div id="index">

            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
            
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
            
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
            
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
            
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
            
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
                        
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>
                        
            <div class="anime">
                <img src="/static/one_piece.jpg" alt="title">
                <div class="anime-info">
                    <h3>Anime Title</h3>
                    <span class="vote_average">5.0</span>
                </div>
            </div>

        </div>
        <div id="content">
            <img src="/static/one_piece.jpg" alt="title">
            <h3>Info</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolore suscipit repellendus! Eligendi aliquid mollitia, cupiditate facilis, quas dolor reprehenderit vel ducimus dignissimos, commodi possimus ab tempore nihil expedita. Eligendi.</p>
        </div>
    </main>

    <script src="/static/app.js"></script>
</body>
</html>